
{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    

<link rel="stylesheet" type="text/css" href="{%static "css/about.css" %}"> 
    <header>
        ABOUT US 
    </header>
<div class="bg-img background-image: url({%static "images/aboutusdu.jpg" %});">

</div>
    
    
    <h1>
        The SSSV NURSERY  is a community aspiring for a Change, it seeks to bring a cultural shift by sensitizing people to adopt green lifestyle and green culture. It’s on a mission for a healthier and greener India by making people aware about the importance of having indoor plants inside their homes.

To minimize the carbon footprint and to enhance the mental well-being, we provide Live Plants in a Self-Watering pot, Customized plants gifts for various occasions and Customized plants invitations for Weddings. We try to influence people to switch to green gifting, green invitations and to replace with greens wherever possible.

Along with providing Indoor potted plants, we are creating awareness and educating people about gardening and plants. We provide them the Plant care card and educate them by videos, infographics through our social media and Plant healthcare experts.
    </h1>
</div>
</body>
</html>
{% endblock %}  