{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
{%load static %}    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{%static "css/Nursery.css" %}"> 

<body>
  

  <br>  <br>  <br>
      <div class="bg-img
      background-image:url({%static "images/back 8.jpg" %});">
          <!-- header section -->
          <header>Welcome To SSSV Nursery</header>
        
        <!-- navigation section -->
    
    <!-- home -->
    <div id="quote">
    <h2 >Growing what's next</h2>
    
     <p> From plant breeding to state-of-the-art marketing, we’re all about growing.<br>
     And we invite you to grow along with us.
     </p>
    </div>
  
  </div>
</body>
</html>

  {% endblock %}